.back-btn {
    background: #ddd;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.2s;
}

.back-btn:hover {
    background: #c5c5c5;
}