
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f7fa;
    font-family: Arial, sans-serif;
}


.login-box {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.login-input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 4px rgba(74,144,226,0.4);
}


.login-button {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.login-button:hover {
    background: #357ab7;
}


.login-error{
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}