.manager-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.manager-title {
    font-size: 26px;
    font-weight: bold;
    color: #0645f1;
}

.manager-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.manager-btn {
    padding: 12px 25px;
    background: #4a90e2;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
    width: 220px;
    text-align: center;
}

.manager-btn:hover {
    background: #327bbb;
}

.top-bar-manager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-bar-manager-left{
    margin: 0;
}

.logout-btn {
    background: #e74c3c;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.logout-btn:hover {
    background: #c0392b;
}

.welcome-text-manager {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

.welcome-text-manager strong {
    color: #2c7be5;
}